<head>
    {% load static %}
    <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'users/bootstrap.css' %}">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'users/custom.css' %}">
</head>
{% load crispy_forms_tags %}
<body class="bg-primary">
    {% include 'users/includes/messages.html' %}
<div class="container-fluid bg-primary pt-5">
    <div class="container-small">
  <div class="row">
    <div class="col">
        <center><img src="{% static "users/ListingLlama-BadgeStacked.svg" %}" width="50%" alt=""></center>
    </div>
  </div>
<div class="row justify-content-center row text-white">
  <div class="col px-5 pt-5">
  
  
  <h2>Forgot password</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.email|as_crispy_field  }}
    <center><button class="btn btn-secondary btn-block font-weight-bold" type="submit">Get New Password</button></center>
  </form>
</div>
</div>
</body>