{% if user.is_authenticated %}
<li class="nav-item active">
        <a class="nav-link" href="/dashboard">Dashboard</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/realtors">Browse Realtors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/my_opportunities">My Postings</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/my_proposals">Proposals</a>
    </li>
    <!--
    <li class="nav-item">
        <a class="nav-link" href="/messages">Messages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Llama U</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Forum</a>
    </li>
    <li class="nav-item"></li>
        <a class="nav-link" href="#">News</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">My Account</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Support</a>
    </li>
    -->
    <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
        </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="/login">Login</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
    </li>
    {% endif %}